@charset "UTF-8";

:root {
	/* main color */
	--primary: #00B187 !important;
    --primary-light:#E9FAF6 !important
}
.header .headerTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
}
.header .headerLogo {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header .headerLogo h1 img {
    height: 32px;
    display: block;
}
.header .badgeStudent,
.header .badgeAcademy {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}
.header .utilMenu {
    position: absolute;
    right: 0;
}
.header .utilMenu .userLinks {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.header .utilMenu .btnPortal {
    border: 1px solid #2D3890;
    color: #2D3890;
    padding: 6px 8px;
    border-radius: 6px;
    font-weight: bold;
}
.header .utilMenu .btnPortal img{
    vertical-align: middle;
    margin-left: 4px;
}
.header .navPc {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    background: #fff;
}
.header .navPc > .inner {
    position: static; 
}
.header .navPc .navList {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.header .navPc .navList > li {
    position: static; 
    flex: 1;
}
.header .navPc .mainLink {
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.header .navPc .navList > li:hover .mainLink,
.header .navPc .navList > li:focus-within .mainLink{
    border-bottom: 4px solid var(--primary);
    color: var(--primary);
} 
.header .navPc .subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    z-index: 100;
}
.header .navPc .subMenu::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
}
.header .navPc .navList > li:hover .subMenu,
.header .navPc .navList > li:focus-within .subMenu {
    display: block;
}
.header .navPc .subList {
    display: flex;
    gap: 32px;
    height: 80px;
    align-items: center;
}
.header .navPc .subList a {
    display: block;
    width: 120px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #eeeeee;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}
.header .navPc .subList a.active,
.header .navPc .subList a:hover,
.header .navPc .subList a:focus {
    background-color: var(--primary);
    color: #fff;
}
@media (max-width: 1024px) {
    .header .headerTop {
        justify-content: space-between;
    }
    .utilMenu {
        position: static;
    }
    .userLinks, .navPc {
        display: none !important; 
    }
    .menuOpen {
        display: block !important;
    }
}
.menuOpen {
    display: none;
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

/* 모바일 메뉴 */
.header .moMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
}
.header .moMenu.active {
    visibility: visible;
}
.header .moMenu.active .moMenuBg {
    opacity: 1;
}
.header .moMenuInner {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
}
.header .moMenu.active .moMenuInner {
    right: 0;
}
.header .moMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 16px;
    border-bottom: 1px solid #eeeeee;
}
.header .logoArea {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header .moMenuContent {
    flex: 1;
    position: relative; 
    display: flex;
    overflow: hidden;
}
.header .moMenuNav {
    width: 35%;
    height: 100%;
    background: #fafafa;
    border-right: 1px solid #cccccc;
    overflow-y: auto;
}
.header .navItem {
    border-bottom: 1px solid #cccccc;
}
.header .moMainLink {
    width: 100%;
    padding: 24px 16px;
    text-align: left;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.header .navItem.active {
    background: #fff;
}
.header .navItem.active .moMainLink {
    color: var(--primary);
}
.header .moSubMenuPane {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
}
.header .navItem.active .moSubMenuPane {
    display: block;
}
.header .moSubList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header .moSubList li a {
    display: block;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
    background: url("../images/icon/ico_go_24.png") no-repeat  95% / 24px auto;
}
.header .moSubList li a::before{
    content: '•';
    width: 4px;
    height: 4px;
    display: inline-block;
    margin-right: 16px;
}
.header .moMenuFooter {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.header .btn-login {
    display: block;
    padding: 16px;
    background: var(--primary);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}
.header .btn-portal {
    display: block;
    padding: 16px;
    border: 1px solid var(--primary);
    color: var(--primary);
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

/* 교육리스트 */
.eduListWrap{
    padding: 80px 0;
    background: url("../images/img_bg_main.png") no-repeat top center / 100% auto;
}
.eduListWrap .tit{
    font-size: 24px;
    font-weight: bold;
}
.eduListWrap .tit::before{
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin:-2px 4px 0 0;
    background: url("../images/icon/ico_tit1.png") no-repeat center / 40px auto;
}
.eduListWrap .cardSection {
    margin-top: 24px;
}
/* .cardGrid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
} */
.eduListWrap .cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px;
}
.eduListWrap .cardItem {
    background: #ffffff;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 16%);
    border: 1px solid #fafafa;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.eduListWrap .cardItem:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}
.eduListWrap .badge {
    display: inline-block;
    width: 62px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 16px;
}
.eduListWrap .badge.elementary { background-color: #EB8B03; }
.eduListWrap .badge.middle { background-color: #19AA39; }
.eduListWrap .badge.high { background-color: #5D50D3; }
.eduListWrap .cardTitle {
    line-height: 1.4;
    word-break: keep-all;
    height: 48px;
}
.eduListWrap .cardTitle a {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.eduListWrap .cardTitle a:focus {
    text-decoration: underline;
    color: #000;
}
.eduListWrap .infoList {
    padding: 16px 0;
}
.eduListWrap .infoList li {
    font-size: 14px;
    color: #616161;
    margin-bottom: 8px;
}
.eduListWrap .infoList li::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: -3px 4px 0 0;
    vertical-align: middle;
}
.eduListWrap .infoDate::before { background: url('../images/icon/ico_date.png') no-repeat center / 20px auto ; }
.eduListWrap .infoLoc::before { background: url('../images/icon/ico_loc.png') no-repeat center / 20px auto; }
.eduListWrap .cardDesc {
    font-size: 14px;
    font-weight: bold;
    color: #424242;
    line-height: 1.5;
    padding-top: 16px;
    border-top: 1px dashed #e1e1e1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 80px;
}
.eduListWrap .moreArea {
    margin-top: 48px;
    text-align: center;
}
.eduListWrap .btnMore {
    background: #fff;
    border: 1px solid #616161;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 16px;
    color: #616161;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
}
.eduListWrap .btnMore span{
    color: #212121;
}
.eduListWrap .btnMore:hover {
    background: #f9f9f9;
    border-color: #bbb;
}
.eduListWrap .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}
.eduListWrap .cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}
@media (max-width: 1024px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr) !important; 
    }
}
.cardItem.is-hidden {
    display: none;
}

/* 정보영역 (보드 섹션) */
.boardSection {
    padding: 80px 0 24vw;
    background: var(--primary-light) url("../images/img_bg_info.png") no-repeat bottom center / 100% auto;
    width: 100%;
}
.boardSection .boardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.boardSection .boardHeader .tit .icon{
    width: 32px;
    height: 32px;
}
.boardSection .boardHeader .tit {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}
.boardSection .btnMore {
    background: var(--primary);
    color: #fff;
    padding: 5px 16px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    display: inline-block;
}
.boardSection .btnMore img{
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.boardSection .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    width: 100%;
}
.boardSection .boardCard {
    background: #fff;
    border-radius: 20px;
    padding: 10px 24px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    min-height: 310px;
}
.boardSection .boardList li {
    border-bottom: 1px solid #eeeeee;
    min-height: 60px;
    display: flex;
    align-items: center;
}
.boardSection .boardList li:last-child {
    border-bottom: none;
}
.boardSection .boardList li a {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    width: 100%;
    padding: 12px 0;
    text-decoration: none;
    color: inherit;
}
.boardSection .boardList .badge {
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 600;
    min-width: 66px;
    border: 1px solid;
    flex-shrink: 0;
    margin-right: 12px;
}
.boardSection .boardList .subject {
    flex: 1; 
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
}
.boardSection .boardList .date {
    font-weight: bold;
    margin-left: auto;
    padding-left: 15px;
    flex-shrink: 0;
}
.boardSection .boardList .badge.complete { 
    color: #10A64E; 
    border-color: #10A64E; 
}
.boardSection .boardList .badge.wait { 
    color: #EF3737; 
    border-color: #EF3737; 
}

@media (max-width: 1024px) {
    .boardSection .inner {
        grid-template-columns: 1fr !important;
        gap: 40px;
        width: 100% !important;
    }
}
@media (max-width: 640px) {
    .boardSection .boardList li a {
        align-items: flex-start;
    }
    .boardSection .boardList .subject {
        width: calc(100% - 80px);
        margin-right: 0;
        margin-bottom: 4px; 
    }
    .boardSection .boardList .date {
        width: 100%;
        color: #888;
        padding-left: 0 !important;
    }
}
.eduListWrap.bizInput .formSection{
    margin-top: 32px;
}
.eduListWrap.bizInput .academyContainer{
    display: flex;
    gap: 24px;
}
.eduListWrap.bizInput .academyContainer .logoArea .logoBox{
    width: 380px;
    height: 270px;
    padding: 16px 60px;
    border: 1px solid #e1e1e1;
    background: #fafafa;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eduListWrap.bizInput .academyContainer .logoArea .logoBox img{
}
.eduListWrap.bizInput .formLabel,
.eduListWrap.bizInput .formControl{
    height: 64px;
    line-height: 64px;
    align-items: center;
}
.eduListWrap.bizInput .formControl{
    background: #fff;
}

@media (max-width: 1024px) {
    .academyContainer {
        flex-direction: column;
    }
    .eduListWrap.bizInput .academyContainer .logoArea{
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .eduListWrap.bizInput .academyContainer .logoArea .logoBox{
        width: 100%;
    }
}