@charset "UTF-8";

:root {
	/* main color */
	--primary: #0063C0 !important;
    --primary-light:#EEF7FF !important
}
.work .colState{width: 83px;}
.work .colPrName, .work .colStName{width: 112px;}
.work .colPrNum, .work .colStNum{width: 140px;}
.work .colShName{width: 136px;}
.work .colShNum, .work .colMng{width: 93px;}
.work .colAdr {width: 370px;}
.work .cellMng button{width: 80px;}

.work .cellState{
    font-weight: 800;
}
.work .cellState.blue{color: #0077FF;}
.work .cellState.green{color: #30AE17;}
.work .cellState.purple{color: #A100FF;}
.work .cellState.yellow{color: #FF8000;}
.work .cellState.red{color: #FF0004;}
.work .cellState.grey{color: #AFAFAF;}
.formBtnWrap{
    text-align: right;
    margin-top: 32px;
}
.infoList {
    display: grid;
    grid-template-columns: 68px 1fr;
    row-gap: 6px;
    margin-top: 12px;
}
.infoList dt {
    color: #616161;
    font-weight: 800;
}
.infoList dd {
    margin: 0;
    font-weight: 800;
}
.modalBody .bizItem .bizName{
    font-size: 18px;
}
.modalBody .bizItem .state{
    font-weight: 800;
    margin-left: 8px;
}
.modalBody .bizItem .state.blue{color: #0077FF;}
.modalBody .bizItem .state.green{color: #30AE17;}
.modalBody .bizItem .state.purple{color: #A100FF;}
.modalBody .bizItem .state.yellow{color: #FF8000;}
.modalBody .bizItem .state.red{color: #FF0004;}
.modalBody .bizItem .state.grey{color: #AFAFAF;}